<MarketplaceDetails>
  <SmallAppTile>Device9999.png</SmallAppTile>
  <LargeAppTile>ApplicationIcon173173.png</LargeAppTile>
  <PCAppTile>MarketPlace_Desktop.png</PCAppTile>
  <ScreenShots>AvailableWebSite.png;BookDownloadPage.png;BookListPage.png;BookReaderPage.png;BookSearch.png;;;;</ScreenShots>
</MarketplaceDetails>